{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" type="image/png" href="{% static 'images/base/shortcut.svg' %}" />
    <link rel="stylesheet" href="{% static 'css/base.css' %}" />
    <title>Cool Whips</title>
    {% block head %}{% endblock %}
  </head>
  <body>
    <header> <!-- *** REMOVE COMMENTS AFTER ADDING USER MODEL, TEMPLATES, AND URLS *** -->
      <div class="header-container">
        <!-- Logo linking to home -->
        <div class="header-logo-container">
          <a href="{% url 'home' %}">
            <img src="{% static 'images/base/coolwhips_logo.svg' %}" alt="Cool Whips Logo" />
          </a>
        </div>
        <!-- Navigation menu -->
        <nav class="header-nav">
          <ul>
            <li>Car Lot</li>
            
            <li>My Garage</li>
            
          </ul>
        </nav>
        <!-- User info and auth buttons -->
        <div class="header-user-info">
          
            <span class="user-coins">Coins: </span> <!-- {{ user.coins }} -->
            <span class="welcome-user">Welcome, </span> <!-- {{ user.username }} -->
            <span class="btn-signin"> Sign In</span>
            <span class="btn-signup"> Sign Up</span>
          
        </div>
      </div>
    </header>
    <main>
      {% block content %}{% endblock %}
    </main>
  </body>
</html>
