{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="shortcut icon"
      type="image/png"
      href="{% static 'images/base/shortcut.svg' %}"
    />
    <link rel="stylesheet" href="{% static 'css/base.css' %}" />
    <title>Cool Whips</title>
    {% block head %}{% endblock %}
  </head>
  <body>
    <header>
      <!-- *** REMOVE COMMENTS AFTER ADDING USER MODEL, TEMPLATES, AND URLS *** -->
      <div class="header-container">
        <!-- Logo linking to home -->
        <div class="header-logo-container">
          <a href="{% url 'home' %}">
            <img
              src="{% static 'images/base/coolwhips_logo.svg' %}"
              alt="Cool Whips Logo"
            />
          </a>
        </div>
        <!-- Navigation menu -->
        <nav class="header-nav">
          <ul>
            <li><a href="{% url 'car_lot' %}">Car Lot</a></li>
            {% if user.is_authenticated %}
            <li><a href="{% url 'garage' %}">My Garage</a></li>
            {% endif %}
          </ul>
        </nav>
        <!-- User info and auth buttons -->
        <div class="header-user-info">
          {% if user.is_authenticated %}
          <span class="user-coins">💰 Coins: {{ user.coins }}</span>
          <span class="welcome-user">Welcome, {{ user.username }}</span>
          <form id="logout-form" method="post" action="{% url 'logout' %}">
            {% csrf_token %}
            <button type="submit" class="btn-signout">Log out</button>
          </form>
          {% else %}
          <!-- <button class="btn-signin" onclick="showLoginModal()">Sign In</button> -->
          <a href="{% url 'home' %}?login_modal=true" class="btn-signin">Sign In</a>
          <a href="{% url 'signup' %}" class="btn-signup">Sign Up</a>
          {% endif %}
        </div>
      </div>
    </header>
    <main>
    {% block content %}{% endblock %}
    </main>
  </body>
</html>
